
#bee {
	margin: 0 auto;
	width: 75px;
	height: 75px;
	background: url(../img/bee.png);
}

.floor-container {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 90px;
}

#grass {
	height: 100px;
	width: 100%;
	background: url(../img/grass.png);	
}

#floor {
	width: 100%;
	height: 40px;
	background: #30302f;
}